<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Car</title>
  </head>
  <body>
    <h1>Create a Car!</h1>
    <form action="/cars" method="POST">
      <label for="make">Make</label>
      <input type="text" name="make" id="make" />
      <label for="model">Model</label>
      <input type="text" name="model" id="model" />
      <label for="year">Year</label>
      <input type="text" name="year" id="year" />
      <label for="isYourFavoriteCar">Is It Your Favorite Car?</label>
      <input type="checkbox" name="isYourFavoriteCar" id="isYourFavoriteCar" />

      <button type="submit">Add Car</button>
    </form>
   <a href="/">Home Page</a>
   <a href="/cars/">Back to Fruits</a>
   
  </body>
</html>